/* Hide normal navbar on mobile */
@media only screen and (min-width:320px) and (max-width:767px) {
    .desktop-menu {
        display: none;
    }

    .hero-section {
        text-align: center;
    }
    .hero-text h1 {
        font-size: 26px;
    }
    .hero-text h2 {
        font-size: 30px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .btn-custom {
        margin: 0 auto;
        padding: 8px 20px;
        font-size: 15px;
    }

    .social-icons {
        justify-content: center;
        margin: 20px !important;
    }

    /* counter */
    .counter {
        font-size: 30px;
    }
}
