/* Hover effect for desktop */
@media (min-width: 992px) {
    .navbar-nav .nav-link{
        position: relative;
    }

    .navbar-nav .nav-link::after {
        content: '';
        width: 0;
        height: 3px;
        background: var(--tertiary-color);
        position: absolute;
        left: 0;
        bottom: -4px;
        transition: 0.6s;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%;
    }

    /* Show submenu on hover */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}
