

 .dark-theme {
     --primary-color: #0D0514;
     --secondary-color: #fff;
 }
/* body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
} */
 a{
    text-decoration: none;
 }

 /* ============= animation ============== */
.moveup-animation {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.moveup-animation.visible {
    opacity: 1;
    transform: translateY(0);
}

.delay-0 {
    transition-delay: 0s;
}

.delay-1 {
    transition-delay: 0.5s;
}

.delay-2 {
    transition-delay: 1s;
}

.delay-3 {
    transition-delay: 1.5s;
}

.delay-4 {
    transition-delay: 2s;
}

.delay-5 {
    transition-delay: 2.5s;
}

.delay-6 {
    transition-delay: 3s;
}

.delay-7 {
    transition-delay: 3.5s;
}

.delay-8 {
    transition-delay: 4s;
}

 .movein-animation {
    opacity: 0;
    transform: translateX(100px);
    animation: movein 1s linear forwards;
}

 @keyframes movein {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
 }

 .background_Bg{
    background: var(--primary-color);
 }

 .navbar {
    background-color: var(--primary-color);
    padding: 10px 20px;
 }

 .navbar-brand img {
     height: 50px;
 }

 .nav-link {
     color: var(--secondary-color) !important;
     margin: 0 10px;
     transition: all 0.3s ease-in-out;
     font-weight: bold;
 }

 .navbar-toggler {
     border: none;
     color: var(--secondary-color);
 }

 /* Offcanvas Drawer (Mobile) */
 .offcanvas {
     background-color: var(--primary-color);
     color: var(--secondary-color);
 }

 .offcanvas-header {
     border-bottom: 1px solid var(--secondary-color);
 }

 /* White Close Button */
 .btn-close {
     filter: invert(1);
 }

 .offcanvas-body .nav-link {
     font-size: 18px;
 }

.navbar-submenu .dropdown-item:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* ============= banner section ============ */
.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    color: var(--secondary-color);
    font-size: 45px;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 52px;
    font-weight: bold;
    color: var(--secondary-color);
    transition-delay: 0.5s;
}

.hero-text p {
    color: var(--secondary-color);
    font-size: 18px;
    opacity: 0.8;
    transition-delay: 1s;
}

.cv-button{
    transition-delay: 1.5s;
}

.btn-custom {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: transparent;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-custom:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.social-icons{
    transition-delay: 1.5s;
}

.social-icons a {
    color: var(--secondary-color);
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.social-icons i {
    font-size: 16px;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.social-icons i:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    transition: 0.3s;
}

.hero-image img {
    max-width: 100%;
    border-radius: 30px;
    max-height: 450px;
    border: 2px solid var(--primary-color);
    object-fit: cover;
}
/* counter */
.counter-section {
    text-align: center;
}

.counter {
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary-color);
}

.counter-title {
    font-size: 15px;
    color: var(--secondary-color);
}


/* ========== about us ============= */
#aboutUs{
    background-color: var(--primary-color);
    padding: 5px;
}
.section-title {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}
.about-us-title{
    margin-top: -50px;
}

.about-line {
    width: 280px;
    border: 2px solid var(--primary-color);
    margin: 25px auto;
}

.about-text {
    margin-top: 20px;
    color: var(--secondary-color);
}

.about-text h3 {
    font-size: 30px;
}

.about-text span {
    color: var(--secondary-color);
}

.about-text h5 {
    font-size: 20px;
}

.about-image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

/*  ============ education experience =========== */
.main-wrapper {
    /* background-color: #f5f0ff; */
    font-family: 'Segoe UI', sans-serif;
    padding: 2rem 1rem;
}

.exp-desc {
    color: var(--secondary-color);
}

.edu-desc {
    color: var(--secondary-color);
}

.experience-title,
.education-title {
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.edu-exp-section-title i {
    font-size: 30px;
    margin-right: 10px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    padding-top: 7px;
}

.card-custom {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px var(--secondary-color);
    transition: all 0.3s ease;
}

.card-custom .title {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
}

.card-custom .date {
    font-weight: bold;
    color: var(--secondary-color);
}

.card-custom:hover {
    background: linear-gradient(to right, var(--secondary-color), var(--secondary-color));
    color: var(--primary-color);
    transition: 0.5s ease-in;
}

.card-custom:hover .date,
.card-custom:hover .title,
.card-custom:hover div:not(.date):not(.title) {
    color: var(--primary-color);
    transition: 0.4s ease-in;
}

/* =========== recent work/portfolio ============ */
.tab-content {
    margin-top: 30px;
}

.portfolio-item {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.9);
}

.portfolio-item.show {
    opacity: 1;
    transform: scale(1);
}

.portfolio-card {
    position: relative;
    background-color: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    color: var(--secondary-color);
    text-align: center;
}

.portfolio-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

/* Hover Overlay */
.portfolio-card:hover .portfolio-overlay {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, var(--tertiary-color), var(--tertiary-color));
    color: var(--secondary-color);
    padding: 25px;
    border-radius: 0 0 20px 20px;
    transition: all 0.4s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    text-align: left;
}

.portfolio-title {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 5px;
}

.portfolio-desc {
    font-size: 14px;
    margin: 0;
}

.portfolio-arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

.recent_work-line {
    width: 440px;
    border: 2px solid var(--primary-color);
    margin: 25px auto;
}
/* ========= testimonial ========== */
.testi-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--secondary-color);
}
.testi-title-des {
    color: var(--secondary-color);
}

.testimonial-card {
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    padding: 2rem;
    height: 100%;
    position: relative;
    color: var(--secondary-color);
}

.testimonial-card img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.quote-icon {
    color: #a463ff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.testimonial-name {
    font-weight: bold;
    margin-top: 2rem;
}

.carousel-indicators {
    justify-content: center;
    margin-top: 2rem;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--tertiary-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 5px;
}

.carousel-indicators .active {
    opacity: 1;
}
/* =========== skill ============ */
.my-skills-style {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    padding: 60px 20px;
}

.my-skills-style h2 p{
    color: var(--secondary-color);
}

.skill-card {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 30px 20px;
    transition: all 0.3s ease;
    height: 100%;
    text-align: center;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.skill-card:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.skill-icon i {
    font-size: 60px;
    color: #797979;
    transition: color 0.3s ease;
}

.skill-card:hover .skill-icon i {
    color: var(--hover-color) !important;
    transition: 0.5s;
}

.skill-percentage {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--secondary-color);
    margin-top: 10px;
}

.skill-name {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--secondary-color);
}

/* =========== recent blog ============ */
.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.blog-card img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover img {
    transform: scale(1.1);
}

.blog-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--tertiary-color);
    padding: 10px;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1;
}

.blog-card .overlay h5 {
    color: var(--secondary-color);
    margin-top: 5px;
    font-size: 18px;
}

.blog-card .overlay small {
    color: var(--secondary-color);
    display: block;
    margin-bottom: 5px;
}

.recent-blog-line {
    width: 340px;
    border: 2px solid var(--primary-color);
    margin: 25px auto;
}

/* =========== contact us ============= */
 .contact-section {
     background-color: var(--primary-color);
     padding: 40px;
     border-radius: 10px;
 }

 .contact-line {
     width: 296px;
     border: 2px solid var(--primary-color);
     margin: 25px auto;
 }

 .contact-section h2 {
     font-size: 38px;
     color: var(--secondary-color);
     font-weight: bold;
 }

 .contact-section p {
     color: var(--secondary-color);
 }

 .contact-btn-custom {
     background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color));
     border: none;
     padding: 10px 20px;
     color: var(--primary-color);
     border-radius: 25px;
 }

 .contact-info {
     margin-left: auto;
 }

 .contact-info h5{
    color: var(--secondary-color);
 }

 .contact-info p{
    color: var(--secondary-color);
 }

 .contact-info i {
     color: var(--secondary-color);
     background: var(--primary-color);
     padding: 10px;
     font-size: 18px;
     margin-right: 10px;
     border-radius: 50%
 }

 .contact-us-form .form-control,
 .contact-us-form .form-select {
     background-color: var(--primary-color);
     color: var(--secondary-color);
     border: 1px solid var(--secondary-color);
 }

 .contact-us-form .form-control:focus,
 .contact-us-form .form-select:focus {
     border-color: var(--secondary-color);
     box-shadow: 0 0 4px var(--primary-color);
     background-color: var(--primary-color);
     color: var(--secondary-color);
 }
 .contact-us-form .form-control::placeholder,
 .contact-us-form .form-select::placeholder,
 textarea::placeholder {
    color: #888;
    opacity: 1;
 }

 /* ============================ blog details =================== */
.another-page-heading {
    position: relative;
    /* background: url('your-image-path.jpg') no-repeat center center/cover; */
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.another-page-heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.another-page-content {
    position: relative;
    z-index: 1;
}

.breadcrumb {
    background: transparent;
}

.breadcrumb-item a {
    color: #f8f9fa;
    text-decoration: none;
}

.blog-card {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    /* padding: 20px; */
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.badge-custom {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.meta-info {
    font-size: 14px;
    color: var(--secondary-color);
}

.meta-info i {
    color: var(--primary-color);
}

.meta-info span {
    color: var(--secondary-color);
}

.sidebar {
    color: var(--secondary-color);
    background: var(--tertiary-color);
    padding: 20px;
    border-radius: 10px;
}
.sidebar-date-title{
    color: var(--secondary-color);
}

.recent-post img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.recent-post {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/* ==================== theme start ==================== */
.theme-drawer {
    position: fixed;
    top: 25%;
    right: -250px;
    width: 250px;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.4s;
    z-index: 1050;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
}

.theme-drawer.open {
    right: 0;
}

.theme-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.theme-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.theme-btn {
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 1100;
    background: #f8f9fa;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================== theme end ================ */
