 body {
     background-color: #0D0514;
     /* Dark background */
 }

 .navbar {
     background-color: #0D0514;
     padding: 10px 20px;
 }

 .navbar-brand img {
     height: 40px;
 }

 .nav-link {
     color: white !important;
     margin: 0 10px;
     transition: all 0.3s ease-in-out;
 }

 .navbar-toggler {
     border: none;
     color: white;
 }

 /* Offcanvas Drawer (Mobile) */
 .offcanvas {
     background-color: #0D0514;
     color: white;
 }

 .offcanvas-header {
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }

 /* White Close Button */
 .btn-close {
     filter: invert(1);
 }

 .offcanvas-body .nav-link {
     font-size: 18px;
 }

.navbar-submenu .dropdown-item:hover{
    color: #fff;
    background-color: #4a0c81;
}
